@import url(../node_modules/typeface-poppins/index.css);
.container-fluid {
  padding: 0 2rem;
  background: #1e1e29;
}

/* GENERAL STYLES */

html, body {
  background: #1e1e29;
}


h1, h2, h3, h4, h5, h7, h9, a {
  font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.notifications-wrapper {
  display: flex;
  cursor: pointer;
}

/* FOOTER  */
.footer {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* SIDEBAR  */

.sidebar {
  height: 100%;
  padding: 1rem 0;
  /* background: linear-gradient(to bottom,#d2af00,0%,rgba(255, 17, 142, 0.749) 100%); */
  background: linear-gradient(135deg, rgba(255, 17, 142, 0.749) 0%, rgb(223, 99, 80) 50%, rgba(240,47,23,1) 71%, rgba(246,41,12,1) 75%, rgba(255, 17, 142, 0.749) 100%);
	border-radius: 0.4rem;
  padding: 1rem 0;
  width: 200px;
}


.nav-item {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  text-transform: uppercase;
  color: whitesmoke;
  cursor: pointer;
}

.nav-item:hover {
  background: #a00c5bbf;
}

a.nav-link {
  color: white;
  font-size: .7rem;
}



/* MAIN PANEL STYLES  */
.main-panel {
  position: relative;
  float: right;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(#1e1e2f, #1e1e24);
}

/* ICONS  */
.icon-large {
  font-size: 2rem;
  color: white;
}

/* GRAPH STYLES */

/* graph title */
.graph-title {
  color: white;
  font-weight: 100;
}

.card-heading {
  color: rgb(154, 154, 154);
}
